<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo list</title>
    <link href = "/assets/style.css" rel = "stylesheet" type = "text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/todo.js"></script>
</head>
<body>
<div id = "todo-table">
    <form id = "nihahama">
        <input id = "item" type= "text" name = "item" placeholder="Add a new item" required >
         <input id = "name" type= "text" name = "name" placeholder="who going to do" required >
        <button type = 'submit'>add</button>
    </form>
    <ul>
        <% for(var i = 0; i < todos.length; i++){ %>
        <li><%= todos[i].item %></li>
        <%}%>

    </ul>
</div>
</body>
</html>
